body{
    display: flex;
    flex-direction: column;
    background-color: grey;
    
}

header{
    display:flex;
    justify-content: space-between;
    background-color:black;
    color: white;
    padding: 1%;
   
}

h1{
font-size: 200%;
} 

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 500px;
   font-size: 150%;
   }

nav a{
    color:white;
}

nav a:hover{
    color:gold;
}

h2{
    margin: 2%;
    font-size: 160%;
    color: black;
    font-weight: 800;
}

.about-me-div{
    display: flex;
}

.profile {
    width: 300px;
    height: 300px;
    margin:  2%;
    border-radius:  5%;
}
section{
    border:1px solid;
}


p{
    font-size: 20px;
    align-self: center;
}



.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    
    margin: 2% ;
}

h3{
text-align: center;
color: white;
font-size: 125%;
font-weight: 800;
margin: 1%;

}


.work img{
    border: 5px black solid;
    width: 300px;
    height: auto;
}

.work img:hover{
    border-color: white;
}

.contact-me ul {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
font-size: 25px;
/*min-width: 500px; */
color: white;
margin-bottom: 10px;
}

.contact-me a{
    color:white;
}

footer{
    text-align: center;
    font-size: large;
    font-weight: 800;
    color: black;
}
@media  (max-width:780px ) {
    .contact-me ul{
       font-size: 15px;
        
    }
    .container{
        flex-wrap: wrap;
    }
}

    @media  (max-width:380px ) {
    nav ul{
        flex-wrap: wrap;
    }
     section{
display: flex;
justify-content: space-around;
     }
    
}
