body{
    display: flex;
    flex-direction: column;
}
header{
    display:flex;
    justify-content: space-between;
    background-color:darkblue;
    color: white;
    padding: 1%;
    align-items: flex-end;

}
h1{
font-size: 200%;
} 

nav ul {
    display: flex;
    justify-content: space-evenly;
    min-width: 500px;
   font-size: 150%;
   
}

nav a{
    color:white;
}

nav a:hover{
    color:gold;
}
